.title {
  color: whitesmoke;
  padding-top: 15%;
  text-align: center;

}

.hidden, .hide {
  display: none;
  font-size: 40px;

}

body {
  background-color: black;
  background-image: url("../../img/computer-chip.png");
}

.iceberg {
  height: 400px;
  margin:0 auto;
  padding:20px 0;
  width: 400px;

}

.card {
  border: 20px solid black; 
  margin:0 auto;
  padding: 20px 0;
  width: 400px;

}

.languageHeading {
color: whitesmoke;
font-size: 30px;
font-style: italic;
margin-top: 300px;
padding: 25%;
}

.assessment {
  color: lightskyblue;
  margin-top: 200px;
  
}

#submission {
  float: right;
  margin-right: 17%;
}

.scrollInfo {
  border: 4px dotted lightskyblue;
  color: whitesmoke;
  margin-top: 50px;
  padding: 10%;
}

.about {
color: whitesmoke;
font-size: 40px;
padding: 25%;
text-align: left;

}

.aboutInfo {
background-color: black;
border: 6px solid palevioletred;
color: whitesmoke;
padding: 25%;
text-align: left;

}

.questions {
  color: whitesmoke;

}

.foodTitle, .animeTitle {
  color: palevioletred;

}

.right {
  border: 10px solid whitesmoke;

}
